<!doctype html>
<html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="@ViewBag.MetaDescription">
	<meta name="author" content="Little Rock .NET User Group">
	<meta name="viewport" content="width=device-width">


	<title>@ViewBag.Title</title>

    <link rel="stylesheet/less" href="@Url.Content("~/less/style.less")">
	<script src="@Url.Content("~/Scripts/less-1.3.3.min.js")"></script>

<!-- 
	
	<link href="@Url.Content("~/less/style.css")" rel="stylesheet" />  
	Use SimpLESS (Win/Linux/Mac) or LESS.app (Mac) to compile your .less files
	to style.css, and replace the 2 lines above by this one:

	 -->
	 


</head>
<body class="@ViewBag.BodyCssClass">
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->


    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Little Rock Tech Fest</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
                <li>@Html.ActionLink("Schedule", "Index", "Schedule")</li>
	            <li>@Html.ActionLink("Sponsors","Index", "Sponsor")</li>
			    <li><a href="http://lrtechfest.eventbrite.com?ref=elink" target="_blank" >Register</a></li>
@*                <li>@Html.ActionLink("Call for Speakers","call", "Speakers")</li>
                <li>@Html.ActionLink("Current Speakers","List", "Speakers")</li>*@
	            <!--<li class="active"><a href="">About</a></li>-->
	            <!--<li><a href="#">Contact</a></li>-->

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Speakers<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index", "Speakers")">Speaker List</a></li>
                        <li><a href="@Url.Action("Call", "Speakers")">Call for Speakers</a></li>
                    </ul>
                </li>
@*                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
                </li>*@
            </ul>
            
@*            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>*@
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	

	@RenderBody()


	<footer>
	  <div class="container">
		<div class="row">
			<div class="span3 navlinks">
				<h1>Navigate</h1>
		        <ul class="nav">
		          <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
		          <li>@Html.ActionLink("Schedule", "Index", "Schedule")</li>
	              <li>@Html.ActionLink("Sponsors","Index", "Sponsor")</li>
				  <li><a href="http://lrtechfest.eventbrite.com?ref=elink" target="_blank" >Register</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Speakers<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Speakers")">Speaker List</a></li>
                            <li><a href="@Url.Action("Call", "Speakers")">Call for Speakers</a></li>
                        </ul>
                    </li>
		        </ul>
			</div>
			<div class="span3 offset1 eventQuickInfo">
				<h1>Little Rock Tech Fest</h1>
				<p>Friday: March 1, 2013</p>
			</div>
			<div class="span5 siteSponsor">
				<p>Site provided by IdeaLoop</p>
			</div>
		</div>
	  </div>	
	</footer>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script>    window.jQuery || document.write('<script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"><\/script>')</script>


@*<script src="@Url.Content("~/Scripts/modernizr-2.5.3-respond-1.1.0.min.js")"></script>*@

<!-- scripts concatenated and minified via ant build script-->
<script src="@Url.Content("~/Scripts/bootstrap/bootstrap.min.js")"></script>

@*<script src="@Url.Content("~/Scripts/script.js")"></script>*@
<!-- end scripts-->

<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-33443452-1']);
	_gaq.push(['_trackPageview']);

	(function () {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

</script>

</body>
</html>
