@model List<LRTechFest.Controllers.Speaker>
@{
    ViewBag.Title = "Speaker List - Little Rock Tech Fest";
    ViewBag.MetaDescription = "Speaker list for Little Rock Tech Fest! Little Rock Tech Fest, organized by the Little Rock .NET User Group, is a one day tech fest serving the Greater Little Rock area.";
    ViewBag.BodyCssClass = "content-page speakers-list";
}


<div class="content-header">
	<div class="container">
		<h1>Speakers</h1>

	</div>	
</div>

<div class="content-container">
    <div class="container">
        <div class="row">
            <h3>Here they are, your confirmed speakers for Little Rock Tech Fest!</h3>
            <p>Read on to learn more about our presenters and the topics they propose to present. Speakers with multiple topics may give one or all talks, depending on room availability. Our official schedule will be announced 1 - 2 weeks prior to the event. If you are registered to attend, we will send you an email notification when we make this information available.</p>
            <p>Are you talented and have something to share? @Html.ActionLink("Consider speaking at our event", "Call", "Speakers").</p>
            <p>We'll update this page as often as we can confirm speakers. Check back often! Speakers were last updated on <b>2/25/13 at 11:50 AM</b>.</p>
            <hr />
        </div>

        @foreach (var s in Model.OrderBy(x => x.LastName))
        {
            <div class="row">
                <a name="@(s.FirstName.Replace(' ','-').Replace(".","").ToLower() + "-" + s.LastName.ToLower())"></a>
               @* <h2>@Html.ActionLink(s.FullName, "Detail", "Speakers", new { id = s.Id }, null)</h2>*@
               <h2 class="span12">@s.FullName</h2>
            </div>
            <div class="row alt">
                <div class="span3">
                    @if (!string.IsNullOrEmpty(s.Photo))
                    {
                    <img src= "@Url.Content(s.Photo)" alt="@s.FullName" width="175" style="background-color:#fff;" />
                    }
                    @if (!string.IsNullOrEmpty(s.Website))
                    {
                        <a href="@s.Website">@s.Website</a>
                    }
                    &nbsp;
                </div>
                <div class="span7 offset1">
                    
                    @Html.Raw(s.Bio)
                    
                    @foreach (var p in s.Presentations)
                    {
                        <h3>@p.Topic</h3>
                        @Html.Raw(p.Description)
                    }

                
                </div>
            </div>
            
@*            <div class="mini-profile span3">
                <div class="profile-meta-col">
                    <div class="avatar avatar-profile">
                        <a href="@Url.Action("Detail", "Speakers", new { id = s.Id })">
                            <img src="" alt="">
                        </a>
                    </div>
                </div>

                <span class="name">
                    
                </span>
                
            </div>
            <br/>*@
                
        }


    </div>
</div>

