@model List<LRTechFest.Controllers.Speaker>
@{
    ViewBag.Title = "Speaker List";
    ViewBag.MetaDescription = "Speaker List at Little Rock Tech Fest! Little Rock Tech Fest, organized by the Little Rock .NET User Group, is a one day tech fest serving the Greater Little Rock area.";
    ViewBag.BodyCssClass = "content-page speakers-list";
}


<div class="content-header">
	<div class="container">
		<h1>Speakers</h1>

	</div>	
</div>

<div class="content-container">
    <div class="container">

        @foreach (var s in Model.OrderBy(x => x.LastName))
        {
            <div class="row">
               @* <h2>@Html.ActionLink(s.FullName, "Detail", "Speakers", new { id = s.Id }, null)</h2>*@
               <h2 class="span12">@s.FullName</h2>
            </div>
            <div class="row alt">
                <div class="span3">
                    @if (!string.IsNullOrEmpty(s.Photo)){
                    <img src= "@Url.Content(s.Photo)" alt="@s.FullName" width="175"; />
                    }
                    @if (!string.IsNullOrEmpty(s.Website))
                    {
                        <a href="@s.Website">@s.Website</a>
                    }
                    &nbsp;
                </div>
                <div class="span7 offset1">
                    
                    @Html.Raw(s.Bio)
                    
                    @foreach (var p in s.Presentations)
                    {
                        <h3>@p.Topic</h3>
                        @Html.Raw(p.Description)
                    }

                
                </div>
            </div>
            
@*            <div class="mini-profile span3">
                <div class="profile-meta-col">
                    <div class="avatar avatar-profile">
                        <a href="@Url.Action("Detail", "Speakers", new { id = s.Id })">
                            <img src="" alt="">
                        </a>
                    </div>
                </div>

                <span class="name">
                    
                </span>
                
            </div>
            <br/>*@
                
        }


    </div>
</div>

